@import "./color";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

main {
  align-items: center;
  background-color: #0f111a;
  color: $p-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

.terminal {
  background-color: #1b1f30;
  border-radius: 10px;
  color: $p-color;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  min-width: 70vw;
  padding: 2em;
  position: relative;
  font-weight: bold;
  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1em;
    margin: 0.8em 0;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    .tabs {
      display: flex;
      &__name {
        margin-right: 1em;
        margin-top: 0.2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .controls {
      display: flex;
      &__icon {
        margin-left: 1em;
        font-size: 0.8rem;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
          width: 40px;
        }
        &:hover {
          cursor: pointer;
          background-color: lighten($bg, 30%);
        }
      }
    }
  }
  &__location {
    margin-top: 1em;
    .user {
      color: $green;
    }
    .version {
      color: $purple;
    }
    .dir {
      color: $orange;
    }
    .branch {
      color: $blue;
    }
  }

  &__navigation {
    display: flex;
    .list {
      margin-right: 2em;
      &__name {
        color: $orange;
      }
      &__link {
        a {
          color: $blue;
        }
      }
    }
  }
}

.command {
  display: flex;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
}

.last-command {
  height: 220px;
  position: relative;
  label {
    width: 100%;
  }
  input {
    position: absolute;
    left: 20px;
    top: 0;
    background-color: transparent;
    caret-color: $p-color;
    width: 100%;
    border: none;
    outline: none;
    color: $p-color;
    font-size: 0.9rem;
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
